<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--Custom Logger File For Shipping-->
    <type name="RltSquare\UpdateShippingPrice\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="RltSquare\UpdateShippingPrice\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">shippingPrice</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">RltSquare\UpdateShippingPrice\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="sales/shipping_cost/api_token" xsi:type="string">1</item>
            </argument>
            <argument name="environment" xsi:type="array">
                <item name="sales/shipping_cost/api_url" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
</config>
